*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../Imagenes/FONDO.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#INA {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#enl {
    padding: 10px 40px;
    border: 2px solid black;
    background: yellow;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    outline: none;
    transition: all 300ms;
}

#INA button:hover {
    background: transparent;
    color: #46A2FD;
}

p {
    color: transparent;
}